<configuration>
	<system.serviceModel>
		<services>
			<service name="ServidorTareas.TareaService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/TareasService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="ServidorTareas.ITareaService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
