<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="WebApi" path="api/*" verb="*" type="System.Web.Http.WebHost.HttpControllerHandler, System.Web.Http" resourceType="Unspecified" />
    </handlers>
	  <bindings>
		  <add bindingInformation="*:5000:" protocol="http" />
	  </bindings>
  </system.webServer>
</configuration>
